[Unit]
Description=Urban Vision - Sauvegarde chaque nuit a 2 h 30

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true

[Install]
WantedBy=timers.target
